{% extends 'blog/base.html' %}

{% block content %}

<div class="profile">
<center>
<div class='head'>{{user.first_name}} {{user.last_name}}</div>
</center>

<center><img src='{{ pro.image.url }}' class='propic' style="height: 150px;width: 150px;"></center>
<pre>

    
    Email:          {{ user.email }}

    Phone:          {{ pro.phone }}

    Working at:     {{ pro.workat }}

    Branch:         {{pro.branch}}

    Passout Year:   {{pro.passout}}

    Date of Birth:  {{pro.dob}}
<br>
</pre>
<a href="{% url 'uprofile' %}"><input type="submit" class="smbtn" value="Update Profile"></a>
</div>
{% endblock %}