<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <pre>
        <input type="text" placeholder="First Name" name="fname">
        <input type="text" placeholder="Last Name" name="lname">
        <input type="email" placeholder="Email" name="email">
        <input type="text" placeholder="Phone Number" name="phone">
        <input type="password" placeholder="Password" name="password1">
        <input type="password" placeholder="Repeat Password" name="password2">
        <input type="submit">
        </pre>
    </form>
    {% for m in messages %}
    {{ m }}
    {% endfor %}
</body>
</html>