{% extends 'blog/base.html' %}

{% block content %}
<center>
<div class="profile">
    <div style="font-size: 20px;font-family: arial;font-style: initial;background-color: blue;color: white;padding: 10px;">{{user.first_name}} {{user.last_name}}</div>
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<img src='{{ pro.image.url }}' class='propic' style="height: 150px;width:150px;margin-top: 5px;">
<table>    
<tr><th>Image:</th><th><input type="file" name='image'></th></tr>

<tr><th>Email:</th><th><input type="text" value='{{ user.email }}' disabled></th></tr>

<tr><th>Phone:</th><th><input type="text" value='{{ pro.phone }}' name='phone'></th></tr>

<tr><th>Working at:</th><th><input type="text" value='{{ pro.workat }}' name='work'></th></tr>

<tr><th>Branch:</th><th><select name="branch">
    <option value="CSE">CSE</option>
    <option value="MECH">MECH</option>
    <option value="IT">IT</option>
    <option value="EEP">EEP</option>
    <option value="ENTC">ENTC</option>
    <option value="ARCH">ARCH</option>
    <option value="MCA">MCA</option>
    <option value="INST">INST</option>
    <option value="PROD">PROD</option>
    <option value="CHEM">CHEM</option>
</select></th></tr> 
<tr><th>Passout Year:</th><th><select name="passout">
    {% for y in years %}
    <option value="{{y}}">{{y}}</option>
    {%endfor%}
    </select></th></tr>

    <tr><th>Date of Birth:</th><th><select name='d'>
        {% for y in d %}
        <option value="{{y}}">{{y}}</option>
        {%endfor%}   
    </select> <select name="m">
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
          </select> <select name='y'>
        {% for y in y %}
        <option value="{{y}}">{{y}}</option>
        {%endfor%}   
    </select>
</th></tr>
</table>
<input type="submit" value="Update" style='width:300px;margin:10px;font-size:18px;background-color: green;color: white;border: none;border-radius: 25px;font-weight: bold;'>
</form>
    
</div>
</center>
{% endblock %}