{% extends 'blog/base.html' %}

{% block content %}

<center>
<div class="profile">
<div style="font-size: 20px;font-family: arial;font-style: initial;background-color: indigo;color: white;padding: 5px;">{{search.user.first_name}} {{search.user.last_name}}</div>

<center><img src='{{ search.image.url }}' class='propic' style="height: 40%;width: 40%;"></center>
<table>
<tr><th>Email:</th><th>{{ search.user.email }}</th></tr>
<tr><th>Phone:</th><th> {{ search.phone }}</th></tr>
<tr><th>Working at:</th><th> {{ search.workat }}</th></tr>
<tr><th>Branch:</th><th>{{search.branch}}</th></tr>
<tr><th>Passout Year:</th><th>{{search.passout}}</th></tr>
<tr><th>Date of Birth:</th><th>{{search.dob}}</th></tr>
</table>
</div>
</center>

{% endblock %}