{% extends 'blog/base.html' %}

{% block content %}

<div class="profile">
<center>
<div class='head'>{{search.user.first_name}} {{search.user.last_name}}</div>
</center>

<center><img src='{{ search.image.url }}' class='propic' style="height: 40%;width: 40%;"></center>
<pre>

    
    Email:          {{ search.user.email }}

    Phone:          {{ search.phone }}

    Working at:     {{ search.workat }}

    Branch:         {{search.branch}}

    Passout Year:   {{search.passout}}

    Date of Birth:  {{search.dob}}
<br>
</pre>
</div>
{% endblock %}